body {
    font-family: Arial;
    margin: 0;
    background: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

/* LEFT */
.left {
    width: 35%;
    background: #adc1e0;
    padding: 15px;
    border-right: 1px solid #ccc;
}

.right {
    width: 65%;
    padding: 20px;
}

h2 {
    margin-top: 0;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

/* FRUIT ITEM */
.fruit-item {
    cursor: pointer;
    border: 1px solid #af1616;
    margin: 8px 0;
    padding: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 6px;
}

.fruit-item:hover {
    background: #ee054b;
}

/* TABS */
.tabs button {
    padding: 8px 12px;
    border: none;
    background: #0ec917;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.tab-content {
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 6px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.fruit-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #fff;
}
#fruitImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    margin-bottom: 10px;
}